<h1>Hello</h1>

<h2><%= @blog_post.title %></h2>

<p><%= @blog_post.content %></p>

<% if user_signed_in? && current_user.id == @blog_post.user_id %>
<%end%>
<% if @new_comment.errors.any? %>

  <div id= "error_explanation">
    <h2><%= pluralize(@new_comment.count, "error") %> prevented this Blog Post from being saved:</h2>
  <ul>
      <% @new_comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <%end%>
        
  </ul>
</div>
<%end%>

<% if user_signed_in? %>

<%= link_to("Edit Blog Post" , "/blog_posts/#{@blog_post.id}/edit") %>

<%= link_to("Destroy Blog Post!" , "/blog_posts/#{@blog_post.id}" , method: :delete, data: {confirm: "Are you sure?"}) %>

<% @blog_post.comments.each do |comment| %>
   <div class="comment">
      <h5><%= comment.user.email %></h5>
      <p><%= comment.content %></p>
      <% if user_signed_in? && current_user.id == comment.user_id %>
        <%= link_to("Delete Comment", "/comments/#{comment.id}", method: :delete) %>
      <%end%>
    </div>
  <%end%>
  <h4>Leave a Comment?</h4>

    <%= form_tag("/comments", method: :post) do %>
      <textarea name="content" placeholder="Write comment"><%= @new_comment.content %></textarea>
      <br>
      <input type="hidden" name="blog_post_id" value="<%= @blog_post.id%>">
      <input type="submit" value= "Leave Comment">
    <%end%>
  <% end %>
